.footer-container {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 3.5em;
  max-width: 3.5em;
  height: 100vh;
  background: linear-gradient(var(--accent-green), var(--accent-orange));
  box-shadow: -1px 0px 10px 5px rgba(163, 163, 163, 0.521);
}

.logo-footer {
  margin: 2.5em 0;
  color: var(--texts);
  transition: all 400ms;
}

.logo-footer a {
  color: var(--texts);
}
.logo-footer:hover {
  -webkit-filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.774));
  filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.774));
  cursor: pointer;
  transform: scale(1.15);
}
