.navbar-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 3.5em;
  height: 100vh;
  background: linear-gradient(var(--accent-green), var(--accent-orange));
}

.logo-nav {
  margin: 2.5em 0;
}

.logo-nav a {
  color: var(--texts);
}
.logo-nav:hover {
  -webkit-filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.774));
  filter: drop-shadow(0px 2px 4px rgba(255, 255, 255, 0.774));
}
